body {
    text-align: center;
}

 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: auto;
    width: 150px;
    height: 35px;
    line-height: 35px;
    background: yellow;
    display: block;
    margin-top: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

 
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip-bottom {
    top: 120%;
    left: 10%;
}

.tooltip .tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
