USE [master]
GO
/****** Object:  Database [CNWeb_Pharmacy]    Script Date: 12/08/2020 13:24:16 ******/
CREATE DATABASE [CNWeb_Pharmacy]
GO
USE [CNWeb_Pharmacy]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCungCap] [char](15) NOT NULL,
	[TenNhaCungCap] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ThongTinDaiDien] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [ThongTinDaiDien]) VALUES (N'NCC1           ', N'CTY PP Ngô Phong', N'Hoàng Mai - Hà Nội', N'Ngô Hồng Phong')
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [ThongTinDaiDien]) VALUES (N'NCC2           ', N'CTY TNHH Downstair', N'Hai Bà Trưng - Hà Nội', N'Nguyễn Kiều Anh')
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [ThongTinDaiDien]) VALUES (N'NCC3           ', N'CTY PP Duy Anh', N'Chí Linh - Hải Dương', N'Phạm Công Anh')
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MaLoaiThuoc] [char](15) NOT NULL,
	[TenLoaiThuoc] [nvarchar](30) NULL,
	[ParentID] [char](10) NULL,
 CONSTRAINT [PK_LOAITHUOC] PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAITHUOC] ([MaLoaiThuoc], [TenLoaiThuoc], [ParentID]) VALUES (N'5              ', N'5', N'5         ')
INSERT [dbo].[LOAITHUOC] ([MaLoaiThuoc], [TenLoaiThuoc], [ParentID]) VALUES (N'CSCT           ', N'Chăm sóc cơ thể', N'TPCN      ')
INSERT [dbo].[LOAITHUOC] ([MaLoaiThuoc], [TenLoaiThuoc], [ParentID]) VALUES (N'CSRM           ', N'Chăm sóc răng miệng', N'TPCN      ')
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [nchar](10) NOT NULL,
	[TienKM] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[KHUYENMAI] ([MaKM], [TienKM]) VALUES (N'KM1       ', 10000)
INSERT [dbo].[KHUYENMAI] ([MaKM], [TienKM]) VALUES (N'KM2       ', 5000)
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [char](35) NOT NULL,
	[TenKhachHang] [nvarchar](40) NOT NULL,
	[Email] [char](50) NOT NULL,
	[MatKhau] [char](90) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [Email], [MatKhau]) VALUES (N'0310566549870356879565             ', N'Nguyễn Văn Dũng', N'0356879565                                        ', N'031056654987                                                                              ')
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [Email], [MatKhau]) VALUES (N'0310990054320359999574             ', N'Hoàng Văn Việt', N'0359999574                                        ', N'031099005432                                                                              ')
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [Email], [MatKhau]) VALUES (N'0310990054380368733032             ', N'Phan Thanh Tùng', N'0368733032                                        ', N'031099005438                                                                              ')
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nchar](15) NULL,
	[Email] [nchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaKhuyenMai] [nchar](15) NULL,
	[HinhThucGiaoHang] [nchar](1) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON
INSERT [dbo].[HOADON] ([MaHoaDon], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [GhiChu], [MaKhuyenMai], [HinhThucGiaoHang]) VALUES (18, N'Hoàng Việt', N'số 54 đường Hoàng Sâm, Cầu Giấy', N'0359999574     ', N'hoangviet.mta.hp@gmail.com                        ', N'', N'KM1            ', NULL)
INSERT [dbo].[HOADON] ([MaHoaDon], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [GhiChu], [MaKhuyenMai], [HinhThucGiaoHang]) VALUES (19, N'Hoàng Việt', N'số 54 đường Hoàng Sâm, Cầu Giấy', N'0359999574     ', N'hoangviet.mta.hp@gmail.com                        ', N'', N'               ', N'0')
INSERT [dbo].[HOADON] ([MaHoaDon], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [GhiChu], [MaKhuyenMai], [HinhThucGiaoHang]) VALUES (20, N' a', N'a a', N'09132753801    ', N'a@gmail.com                                       ', N'', N'               ', N'1')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGSANXUAT](
	[MaHangSX] [char](15) NOT NULL,
	[TenHangSX] [nvarchar](50) NULL,
	[QuocGia] [nvarchar](30) NULL,
 CONSTRAINT [PK_HANGSANXUAT] PRIMARY KEY CLUSTERED 
(
	[MaHangSX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HANGSANXUAT] ([MaHangSX], [TenHangSX], [QuocGia]) VALUES (N'AT67           ', N'Công ty DP Armephaco', N'Việt Nam')
INSERT [dbo].[HANGSANXUAT] ([MaHangSX], [TenHangSX], [QuocGia]) VALUES (N'BG5T           ', N'Công ty DP Traphaco', N'Việt Nam')
INSERT [dbo].[HANGSANXUAT] ([MaHangSX], [TenHangSX], [QuocGia]) VALUES (N'BTP            ', N'Bắc Thiên Phú', N'Vi?t Nam')
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaThuoc] [char](20) NOT NULL,
	[MaKhachHang] [char](35) NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GIOHANG] ON
INSERT [dbo].[GIOHANG] ([MaGH], [MaThuoc], [MaKhachHang], [SoLuong]) VALUES (7, N'P00741C_2_l         ', N'611c9e5a5cc42eeb1c7bb493c57a7f27   ', 5)
INSERT [dbo].[GIOHANG] ([MaGH], [MaThuoc], [MaKhachHang], [SoLuong]) VALUES (8, N'BG5T0519            ', N'611c9e5a5cc42eeb1c7bb493c57a7f27   ', 6)
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
/****** Object:  Table [dbo].[GIAOHANG]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOHANG](
	[HinhThucGiaoHang] [nchar](1) NULL,
	[TenHinhThuc] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOHANG] ([HinhThucGiaoHang], [TenHinhThuc]) VALUES (N'0', N'Thanh toán bằng tiền mặt')
INSERT [dbo].[GIAOHANG] ([HinhThucGiaoHang], [TenHinhThuc]) VALUES (N'1', N'Thanh toán qua thẻ ngân hàng')
/****** Object:  Table [dbo].[THUOC]    Script Date: 12/08/2020 13:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUOC](
	[MaThuoc] [char](20) NOT NULL,
	[TenThuoc] [nvarchar](max) NOT NULL,
	[CongDung] [nvarchar](max) NOT NULL,
	[ThanhPhan] [nvarchar](max) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DangThuoc] [nvarchar](20) NOT NULL,
	[MaLoaiThuoc] [char](15) NOT NULL,
	[DonGia] [int] NULL,
	[MaHangSX] [char](15) NULL,
	[MaNhaCungCap] [char](15) NULL,
	[UrlImage] [char](50) NULL,
	[Tien] [varchar](9) NULL,
	[TimKiem] [varchar](max) NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[THUOC] ([MaThuoc], [TenThuoc], [CongDung], [ThanhPhan], [SoLuongTon], [DangThuoc], [MaLoaiThuoc], [DonGia], [MaHangSX], [MaNhaCungCap], [UrlImage], [Tien], [TimKiem]) VALUES (N'AT670218            ', N'D-Contresin 500', N'Chống đau lưng, vẹo cổ', N'Mephenesin', 1297, N'Viên nén', N'TTY            ', 23000, N'AT67           ', N'NCC1           ', N'P00623H_1_l.jpeg                                  ', N'23.000', NULL)
INSERT [dbo].[THUOC] ([MaThuoc], [TenThuoc], [CongDung], [ThanhPhan], [SoLuongTon], [DangThuoc], [MaLoaiThuoc], [DonGia], [MaHangSX], [MaNhaCungCap], [UrlImage], [Tien], [TimKiem]) VALUES (N'BG5T0519            ', N'Casoran', N'Thuốc hạ huyết áp', N'Cao hoa hòe, Cao dừa cạn, Cao tâm sen, Cao cúc hoa', 1296, N'Thuốc cốm', N'TDY            ', 3000, N'BG5T           ', N'NCC1           ', N'P00791H_4_l.jpeg                                  ', N'3.000', NULL)
INSERT [dbo].[THUOC] ([MaThuoc], [TenThuoc], [CongDung], [ThanhPhan], [SoLuongTon], [DangThuoc], [MaLoaiThuoc], [DonGia], [MaHangSX], [MaNhaCungCap], [UrlImage], [Tien], [TimKiem]) VALUES (N'Coq1234             ', N'Coq10 Mỹ', N'Co-enzim Q10 được sản xuất tại Mỹ có tác dụng hàng đầu trong việc bồi bổ sức khỏe cho trái tim. Vì giữ cho trái tim của bạn mạnh mẽ là một phần quan trọng của việc có một sức khỏe tốt.', N'Co enzim', 500, N'Hộp 30 viên', N'TPCN           ', 50000, N'NTP            ', N'NCC2           ', N'coq.jpg                                           ', N'50.000', NULL)
/****** Object:  UserDefinedFunction [dbo].[TimKiemThuoc]    Script Date: 12/08/2020 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TimKiemThuoc] (@searchstr nvarchar(50))
returns table as return (
SELECT * FROM THUOC
WHERE TenThuoc LIKE @searchstr
OR CongDung LIKE @searchstr
OR ThanhPhan LIKE @searchstr)
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/08/2020 13:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHoaDon] [int] NOT NULL,
	[MaThuoc] [char](20) NOT NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHOADON] ([MaHoaDon], [MaThuoc], [DonGia], [SoLuong]) VALUES (18, N'AT670218            ', 23000, 1)
INSERT [dbo].[CHITIETHOADON] ([MaHoaDon], [MaThuoc], [DonGia], [SoLuong]) VALUES (18, N'P01239C_1_l         ', 5150, 3)
INSERT [dbo].[CHITIETHOADON] ([MaHoaDon], [MaThuoc], [DonGia], [SoLuong]) VALUES (19, N'AT670218            ', 23000, 1)
/****** Object:  ForeignKey [FK_THUOC_HANGSANXUAT]    Script Date: 12/08/2020 13:24:17 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_HANGSANXUAT] FOREIGN KEY([MaHangSX])
REFERENCES [dbo].[HANGSANXUAT] ([MaHangSX])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_HANGSANXUAT]
GO
/****** Object:  ForeignKey [FK_THUOC_LOAITHUOC]    Script Date: 12/08/2020 13:24:17 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_LOAITHUOC] FOREIGN KEY([MaLoaiThuoc])
REFERENCES [dbo].[LOAITHUOC] ([MaLoaiThuoc])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_LOAITHUOC]
GO
/****** Object:  ForeignKey [FK_THUOC_NHACUNGCAP]    Script Date: 12/08/2020 13:24:17 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_NHACUNGCAP] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_NHACUNGCAP]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_HOADON]    Script Date: 12/08/2020 13:24:18 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_THUOC]    Script Date: 12/08/2020 13:24:18 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUOC]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_THUOC1]    Script Date: 12/08/2020 13:24:18 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUOC1] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUOC1]
GO
