<div class="site-navbar py-2">
    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="#" method="post">
                <input type="text" class="form-control" placeholder="Tìm thuốc, dược phẩm,...">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <div class="site-logo">
                    <a href="index.html" class="js-logo-clone">PHARMACY</a>
                </div>
            </div>
            <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li class="active"><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="các thuốc.html">DƯỢC MỸ PHẨM</a></li>
                        <li class="has-children">
                            <a href="các thuốc.html">THỰC PHẨM CHỨC NĂNG</a>
                            <ul class="dropdown">
                                <li><a href="các thuốc.html">MẸ VÀ BÉ</a></li>
                                <li class="has-children">
                                    <a href="các thuốc.html">SINH LÝ - NỘI TIẾT</a>
                                    <ul class="dropdown">
                                        <li><a href="các thuốc.html">NAM</a></li>
                                        <li><a href="các thuốc.html">NỮ</a></li>
                                    </ul>
                                </li>
                                <li><a href="các thuốc.html">VITAMINS </a></li>
                                <li><a href="các thuốc.html">TRỊ BỆNH </a></li>

                            </ul>
                        </li>
                        <li><a href="các thuốc.html">THUỐC ĐÔNG Y</a></li>
                        <li><a href="các thuốc.html">THUỐC TÂY Y</a></li>
                    </ul>
                </nav>
            </div>
            <div class="icons">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                <a href="giỏ hàng.html" data-toggle="tooltip" data-placement="bottom" title="Giỏ hàng" class="icons-btn d-inline-block bag">
                    <span class="icon-shopping-bag"></span>
                    <span class="number">0</span>
                </a>
                <a href="đăng nhập.html" data-toggle="tooltip" data-placement="bottom" title="Đăng nhập" class="icons-btn d-inline-block bag">
                    <span class="icon-user-circle-o"></span>
                </a>
                <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                    <span class="icon-menu"></span>
                </a>
            </div>
        </div>
    </div>
</div>
