@{
    ViewBag.Title = "Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Chính sách đổi trả</strong></div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<main>
    <div class="ntlc-gt-khachhang-chinhsachdoitra">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2">
                    <div class="ntlc-title">
                        <div class="col-sm-7">
                            <h1>Chính sách đổi trả thuốc</h1>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                    <div class="ntlc-item">
                        <div class="row">
                            <div class="item">
                                <div class="col-sm-3">
                                    <img src="~/Assets//images/group.png"
                                         alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="normal">
                                        Khách hàng có thể đổi hoặc trả thuốc đã mua tại nhà thuốc
                                        trong vòng 30 ngày kể từ ngày mua hàng.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-3">
                                    <img src="~/Assets//images/group_2.png"
                                         alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="normal">
                                        Miễn phí 100% đổi thuốc, áp dụng cho tất cả các loại thuốc
                                        và sản phẩm kinh doanh tại Nhà thuốc .
                                        <em>
                                            (Không áp dụng đổi trả cho các sản phẩm trữ lạnh, thuốc tiêm chích, vớ y
                                            khoa)
                                        </em>.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-3">
                                    <img src="~/Assets//images/group_3.png"
                                         alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="normal">
                                        Hàng đổi, trả phải còn nguyên hạn sử dụng, đầy đủ hộp, giấy
                                        hướng dẫn sử dụng, nếu bị mất vỏ hộp sẽ tính phí vỏ hộp. Khách hàng mua lẻ
                                        như vỉ, viên thì khi đổi trả không cần hộp, giấy hướng dẫn sử dụng.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-3">
                                    <img src="~/Assets//images/group_4.png"
                                         alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="normal">
                                        Các sản phẩm xuất hoá đơn tài chính khi trả hàng sẽ chịu phí
                                        thanh toán 10%.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-3">
                                    <img src="~/Assets//images/group_5.png"
                                         alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="normal">
                                        Các sản phẩm tuýp bôi, mỹ phẩm…khi trả hàng phải còn nguyên
                                        niêm phong. Hàng đặt lẻ theo yêu cầu khách hàng sẽ không được đổi trả.
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <h3 class="text-center" style="padding-bottom:0;">QUY ĐỊNH ĐỔI TRẢ HÀNG </h3>
                    <div class="ntlc-table">
                        <table>
                            <tr>
                                <th>
                                    Nguyên nhân
                                </th>
                                <th>
                                    Thời gian đổi trả
                                </th>
                                <th>
                                    Sản phẩm được áp dụng
                                </th>
                                <th>
                                    Tên tiêu chí
                                </th>
                                <th>
                                    Phí trả hàng
                                </th>
                                <th>Ghi chú</th>
                            </tr>
                            <tr>
                                <td>
                                    <strong>1. Đổi trả do lỗi NSX</strong>
                                </td>
                                <td>
                                    Trong vòng <strong>30 ngày</strong> từ ngày xuất bill
                                </td>
                                <td>
                                    Tất cả sản phẩm không bao gồm hàng lạnh & hàng tiêm chích
                                </td>
                                <td>
                                    - Sản phẩm lỗi NSX
                                </td>
                                <td>
                                    Phí trả hàng: 0%
                                </td>
                                <td>
                                    Theo Giá trị trên hóa đơn sau giảm giá / khuyến mãi
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">
                                    <strong>2. Đổi trả theo nhu cầu khách hàng</strong>
                                </td>
                                <td rowspan="3">
                                    Trong vòng <strong>30 ngày</strong> từ ngày xuất bill
                                </td>
                                <td rowspan="3">
                                    <p>- Sản phẩm dạng vĩ, ống uống, gói, chai và tuýp, hộp</p>
                                    <p><strong>- Lưu ý : </strong></p>
                                    <p>Không áp dụng đổi trả với sản phẩm:</p>
                                    <p>+ Hàng đặt lẻ theo yêu cầu của khách</p>
                                    <p>
                                        + NSX đóng gói không có garanty với sản phẩm dạng viên rời / nước / cream
                                        (không xác định được tính nguyên vẹn của sản phẩm)
                                    </p>
                                    <p>+ Thuốc viên bán lẻ (không vĩ, không hộp)</p>
                                    <p>+ Hàng lạnh, hàng tiêm chích</p>
                                </td>
                                <td>
                                    <p>- Sản phẩm còn nguyên, bao gồm:</p>
                                    <p>+ Chưa xé tem niêm phong hoặc chưa xé vỏ bọc ngoài hộp</p>
                                    <p>
                                        + Chưa xé lớp giấy / thiếc bên trong hộp, chưa mở garanty nắp hộp (đối với
                                        sản phẩm không có tem niêm phong hoặc không có vỏ bọc ngoài hộp)
                                    </p>
                                    <p>
                                        + Sản phẩm là <strong>
                                            Thuốc, đóng gói dạng vĩ / dạng gói / dạng ống uống, bán
                                            theo toa (*)
                                        </strong>
                                    </p>
                                </td>
                                <td>
                                    <p><strong>Miễn phí trả hàng</strong></p>
                                    <p>Phí vỏ hộp : 5% </p>
                                    <p>- Áp dụng khi vỏ hộp bị móp / rách</p>
                                    <p>- Không áp dụng phí vỏ hộp với các sản phẩm ở mục (*)</p>

                                </td>
                                <td>
                                    <p>Theo Giá trị trên hóa đơn & sau giảm giá / khuyến mãi</p>
                                    <p>Phí vỏ hộp được áp dụng khi vỏ hộp móp / rách</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>- Sản phẩm đã mở hộp & chưa sử dụng, bao gồm:</p>

                                    <p>
                                        + Đã xé tem niêm phong hoặc xé vỏ bọc ngoài hộp, nhưng chưa xé lớp giấy /
                                        thiếc bên trong hộp, chưa mở garanty nắp hộp
                                    </p>
                                </td>
                                <td>
                                    <p><strong>Phí trả hàng: 10% </strong></p>
                                </td>
                                <td>
                                    Theo Giá trị trên hóa đơn & sau giảm giá / khuyến mãi
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>- Sản phẩm đã mở hộp & đã sử dụng:</p>
                                    <p>+ Đã xé lớp giấy / thiếc bên trong hộp, hoặc đã mở garanty nắp hộp</p>
                                </td>
                                <td>
                                    <p>Phí trả hàng: 30%</p>
                                    <p>(áp dụng cho số lượng còn lại)</p>
                                </td>
                                <td>
                                    <p>Theo Giá trị trên hóa đơn & sau giảm giá / khuyến mãi</p>
                                    <p>
                                        Trường hợp chưa sử dụng viên nào, vẫn tính phí 30% cho toàn bộ số viên trong
                                        hộp
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <p style="text-align: center; font-size: 19px;"><strong>LƯU Ý</strong></p>
                    <p>
                        - Khách hàng có thể đổi hoặc trả sản phẩm đã mua tại các Nhà thuốc  trong 30 ngày kể
                        từ ngày mua hàng.
                    </p>
                    <p>- Từ ngày thứ 31 sẽ không được áp dụng chính sách đổi trả.</p>
                    <p>- Phí Hóa Đơn 10% áp dụng cho các trường hợp có xuất Hóa Đơn Tài Chính.</p>
                    <p>
                        - Đối với các đơn hàng có tặng kèm quà khuyến mãi, nếu khách đã sử dụng quà khuyến mãi, sẽ
                        không áp dụng đổi trả.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("~/Views/Home/PartialView/Comments.cshtml");