
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="slider">
    <figure>
        <a href="các thuốc.html"><img src="~/Assets/images/1.png" alt="Image"></a>
        <a href="các thuốc.html"><img src="~/Assets/images/2.png" alt="Image"></a>
        <a href="các thuốc.html"><img src="~/Assets/images/3.png" alt="Image"></a>
        <a href="các thuốc.html"><img src="~/Assets/images/4.png" alt="Image"></a>
    </figure>
</div>
<div class="site-blocks-cover" style="background-image: url('../../Assets/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto order-lg-2 align-self-center">
                <div class="site-block-cover-content text-center">
                    <h4 class="sub-title size1of2"><i>Mang lại những giá trị và trải nghiệm vượt trội cho sức khoẻ khách hàng qua hệ thống mua sắm online của nhà thuốc Pharmacy</i></h4>
                    <h1>Chào mừng đến với nhà thuốc Pharmacy</h1>
                    <p>
                        <a href="các thuốc.html" class="btn btn-primary px-5 py-3"><b>Mua ngay</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch section-overlap">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-primary h-100">
                    <a href="#" class="h-100">
                        <h5>GIAO HÀNG <br> MIỄN PHÍ</h5>
                        <h1>
                            <p>
                                <strong>Với mỗi hóa đơn trên 300.000₫</strong>
                            </p>
                        </h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap h-100">
                    <a href="#" class="h-100">
                        <h5>SALE UP TO</h5> <br><h1><font color="white">50% OFF</font></h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-warning h-100">
                    <a href="#" class="h-100">
                        <h5>ĐĂNG KÝ <br> THÀNH VIÊN</h5>
                        <h2>
                            <p>
                                THẺ ƯU ĐÃI
                                <strong>Được chiết khấu 10% tổng giá trị đơn thuốc</strong>
                            </p>
                        </h2>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản phẩm bán chạy nhất</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <span class="tag">Sale</span>
                <a href="1 thuốc.html"> <img src="~/Assets/images/product_01.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">Bioderma</a></h3>
                <p class="price"><del>95.000₫</del> &mdash; <font color="red"><b>50.000₫</b></font></p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="1 thuốc.html"> <img src="~/Assets/images/product_02.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">Chanca Piedra</a></h3>
                <p class="price">70.000₫</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="1 thuốc.html"> <img src="~/Assets/images/product_03.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">Umcka Cold Care</a></h3>
                <p class="price">120.000₫</p>
            </div>

            <div class="col-sm-6 col-lg-4 text-center item mb-4">

                <a href="1 thuốc.html"> <img src="~/Assets/images/product_04.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">Cetyl Pure</a></h3>
                <p class="price"><del>45.000₫</del> &mdash; <font color="red"><b>20.000₫</b></font></p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="1 thuốc.html"> <img src="~/Assets/images/product_05.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">CLA Core</a></h3>
                <p class="price">38.000₫</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <span class="tag">Sale</span>
                <a href="1 thuốc.html"> <img src="~/Assets/images/product_06.png" alt="Image"></a>
                <h3 class="text-dark"><a href="#">Poo Pourri</a></h3>
                <p class="price"><del>89.000₫</del> &mdash; <font color="red"><b>38.000₫</b></font></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary px-4 py-3">Xem tất cả</a>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản phẩm mới</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 owl-carousel">

                    <div class="text-center item mb-4">
                        <a href="1 thuốc.html"> <img src="~/Assets/images/product_03.png" alt="Image"></a>
                        <h3 class="text-dark"><a href="#">Umcka Cold Care</a></h3>
                        <p class="price">120.000₫</p>
                    </div>

                    <div class="text-center item mb-4">
                        <a href="1 thuốc.html"> <img src="~/Assets/images/product_01.png" alt="Image"></a>
                        <h3 class="text-dark"><a href="#">Umcka Cold Care</a></h3>
                        <p class="price">120.000₫</p>
                    </div>

                    <div class="text-center item mb-4">
                        <a href="1 thuốc.html"> <img src="~/Assets/images/product_02.png" alt="Image"></a>
                        <h3 class="text-dark"><a href="#">Umcka Cold Care</a></h3>
                        <p class="price">120.000₫</p>
                    </div>

                    <div class="text-center item mb-4">
                        <a href="1 thuốc.html"> <img src="~/Assets/images/product_04.png" alt="Image"></a>
                        <h3 class="text-dark"><a href="#">Umcka Cold Care</a></h3>
                        <p class="price">120.000₫</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Nhận xét & Đánh giá</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 no-direction owl-carousel">

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>&ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;</p>
                        </blockquote>

                        <p>&mdash; Kelly Holmes</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Rebecca Morando</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Lucas Gallone</p>
                    </div>

                    <div class="testimony">
                        <blockquote>
                            <img src="~/Assets/images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Tôi rất hài lòng về dịch vụ và nhà thuốc giao hàng rất nhanh, đúng mẫu mã.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Andrew Neel</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Home/PartialView/Comments.cshtml");
